* {
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: sans-serif;
}

main {
    margin-top: 46px;
}

/* NAV SECTION */
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

.stanNav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 46px;
    background-color: #333;
    width: 100%;
    top: 0;
}

.stanNav a {
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.stanNav li {
    text-align: center;
    float: left;
}

.stanNav a:hover {
    background-color: gray;
    color: #333;
}

/* BRANDING */

.brand {
    color: white;
    font-size: x-large;
    display: inline-block;
    margin-left: 15px;
    margin-top: 9px;
    margin-right: 10px;
}

/* FORMS */

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(30, 114, 58);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #43A047;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: rgb(30, 114, 58);
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.form-container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-title {
    color: #333;
    font-size: x-large;
    padding-bottom: 4px;
}

/* TABLES */
.general-table {
    border-collapse: collapse;
    width: 100%;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.general-table thead tr {
    background-color: rgb(30, 114, 58);
    color: #f2f2f2;
    text-align: left;
}

.general-table th,
.general-table td {
    padding: 12px 15px;
}

.general-table tbody tr {
    border-bottom: thin solid gray;
}

.general-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.general-table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

/* buttons */
.general-button {
    outline: 0;
    background: rgb(30, 114, 58);
    width:auto;
    border: 0;
    padding: 10px;
    margin: 20px;
    color: #f2f2f2;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
}

.general-button:hover, .general-button:active {
    background: #43A047;
}

.table-button {
    outline: 0;
    width: 80px;
    background: rgb(30, 114, 58);
    border: 0;
    color: #f2f2f2;
    padding: 3px;
    border-radius: 2px;
}

.general-text-input {
    background: #f2f2f2;
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 14px;
}